@{
    ViewData["Title"] = "MVC Filters Using";
}

<h1>
    MVC Filters Using - Filtre Kullanımı
</h1>

<h4>
    Action filters : Özel Filtre
</h4>
<a href="/MVC15FiltersUsing/UyelikBilgilerim">Filtre Kullanimi</a>

<hr />

<h4>
    Authorization filters : Oturum filtresi
</h4>
<a href="/MVC15FiltersUsing/Edit/1">Uye Güncelle</a>

<hr />